<% include header %>
<body>
 <div class="container">
  <!-- <h1 id="title"></h1> -->
  <h3 id="description"></h3>
  <div class="customNotifications">
    <div class="alert alert-danger" id="nameFormWarning" role="alert">
      <p class="nameAlert">Please enter your name before proceeding!&nbsp;<a href="#" class="close nameAlert" data-hide="alert">&times;</a></p>
    </div>
    <div class="alert alert-success" id="quizSuccess" role="alert">
      <p class="nameAlert">Quiz has been deleted!&nbsp;<a href="#" class="close nameAlert" data-hide="alert">&times;</a></p>
    </div>
    <div class="alert alert-danger" id="quizWarning" role="alert">
      <p class="nameAlert">Quiz does not exist!&nbsp;<a href="#" class="close nameAlert" data-hide="alert">&times;</a></p>
    </div>
    <div class="alert alert-danger" id="placeholderWarning" role="alert">
      <p class="nameAlert"><span>Placeholder Warning!&nbsp;</span><a href="#" class="close nameAlert" data-hide="alert">&times;</a></p>
    </div>
  </div>

  <div class="alert alert-success" id="placeholderSuccess" role="alert">
    <p class="nameAlert"><span>Placeholder Success!&nbsp;</span><a href="#" class="close nameAlert" data-hide="alert">&times;</a></p>
  </div>
  <form id="nameForm" role="form">
    <div class="form-group">
      <label for="name">Nom:</label>
      <input type="text" id="firstName" name="nameValue" placeholder="nom" class="form-control"><br>
      <select class="form-control" id="titlesDropdown">
        <% for(var i=0; i<titles.length; i++) {%>
           <option><%= titles[i] %></option>
        <% } %>
      </select>
      <br>
      <input class="btn btn-primary" class="form-control" type="submit" id="start_quiz"value="Let s Go !!">

      <input class="btn btn-success" class="form-control" type="submit" id="create_quiz" value="">
      <input class="btn btn-warning" class="form-control" type="submit" id="update_quiz" value="">
      <input class="btn btn-danger" class="form-control" type="submit" id="delete_quiz" value="">
      <input class="btn" class="form-control" type="submit" id="reset_quiz" value="">
    </div>
  </form>

  <form id="editQuizForm" crole="form">
    <div class="form-group editQuizFormDiv" id="editQuiz">
    </div>
  </form>

  <h2 id="welcome"></h2>
  <h3 id="ajaxloading"></h3>
  <button id="reload" class="btn btn-success btn-sm">Reload</button>
  <a href="" id="backHome" class="btn btn-primary btn-sm">Back To Home</a>
  <div class="customNotifications">
    <div class="alert alert-danger" id="answerWarning" role="alert">
      <p class="nameAlert">Choisi  un reponse&nbsp;<a href="#" class="close nameAlert" data-hide="alert">&times;</a></p>
    </div>
  </div>
  <h3 id="questionNumber"></h3>
  <h3 id="question"></h3>
  
  <form id="answerChoices">
    <input type="radio" name="answers" id="0">
    <label for="0" id="ansLabels"></label><br id="b0">
    <input type="radio" name="answers" id="1">
    <label for="1" id="ansLabels"></label><br id="b1">
    <input type="radio" name="answers" id="2">
    <label for="2" id="ansLabels"></label><br id="b2">
    <input type="radio" name="answers" id="3">
    <label for="3" id="ansLabels"></label><br id="b3">
    <input type="radio" name="answers" id="4">
    <label for="4" id="ansLabels"></label><br id="b4">
    <input type="radio" name="answers" id="5">
    <label for="5" id="ansLabels"></label><br id="b5">
    <input type="radio" name="answers" id="6">
    <label for="6" id="ansLabels"></label><br id="b6">
  </form>
  <!-- <div id="images"></div><br> -->
  <button id="previousQuestion" class="btn btn-danger btn-sm"><< Passer</button>
  <button id="nextQuestion" class="btn btn-success btn-sm">Valider >></button>
  <h2 id="nameScore"></h2>
  <center>
    <canvas id="piechart" width="480" height="250"></canvas>
  </center>
  <table class="table table-hover" id="scoreTable">
    <thead>
      <tr>
        <th>Question</th>
        <th>Votre reponse</th>
        <th>Reposne Correct</th>
        <th>Correct</th>
      </tr>
      <tbody>
      </tbody>
    </thead>
  </table>
  <h2 id="tenScores">Score utilisateur:</h2>
  <table class="table table-hover" id="userTable">
    <thead>
      <tr>
        <th>Nom</th>
        <th>Score</th>
      </tr>
      <tbody>
      </tbody>
    </thead>
  </table>
  <center>
    <a href="" id="home" class="btn btn-primary btn-sm">Retour</a>
  </center>
  <br>
</div>
<script src="static/js/jquery-2.1.4.min.js"></script>
<script src="static/js/bootstrap.min.js"></script>
<!-- <script src="static/js/quiz.js"></script> -->
<script src="static/js/script.js"></script>
</body>
</html>